<div class="card">
  <div class="card-header">
    <h1>Registro del Cliente</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form>
        <div class="form-group">
          <label for="Nombre">Nombre:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="Password">Password:</label>
          <input type="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="Contacto">¿Desea contacto? </label>
          <input type="checkbox" class="form-check-input" (change)="muestraContacto()">
        </div>
        <div *ngIf="muestraContactos" class="form-group">
          <label for="Telefono">Telefono:</label>
          <input type="number" class="form-control">
        </div>
        <div *ngIf="muestraContactos" class="form-group">
          <label for="Email">E-mail:</label>
          <input type="email" class="form-control">
        </div>
        <button class='btn btn-outline-primary' style="width:10em;float: right; color:blue" (click)="onRegistrar()">
          Registra Cliente
        </button>
      </form>
    </div>
   </div>
</div>

<div class="card-footer">
  <button class='btn btn-outline-secondary' style="width:110px" (click)="IrInicio()">
    Inicio
  </button>
</div>

